Мы создаем прототип сетевой игры крестики-нолики.

Концепция игры
Игровой сервер стартует и ожидает подключения двух игроков (клиентов), после чего начинается игра. Игроки делают ходы по очереди,
пока это позволяет игровое поле. В случае победы одного из игроков или ничьи, сервер сообщает результат игры участникам, после чего
отсоединяет их.
Функциональность
• Реализовать игровой TCP/IP сервер.
• Реализовать протокол взаимодействия.
• Реализовать игровой клиент. Интерфейс клиента может быть самым простым, например: консольным.
Требования:
1. Язык разработки Java 8.
2. При разработке можно использовать библиотеки для работы с сетью: Netty.
3. Законченность результата – приложение должно выполнять весь заложенный функционал, корректно обрабатывать пользовательские
ошибки, “не падать” со временем.
Нам нужно оценить Ваш результат как разработчика, который не просто пишет код, а решает задачу. Глубину проработки и объем
необходимого функционала Вы определяете сами, исходя из возможностей по времени и собственных представлений о том, что
минимально необходимо для решения данной задачи. Желаем удачи!

Когда пишешь код, будь на 100% уверен, что ты не ломаешь ничего существующего.